In [2]:
import scipy as sp
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
# グラフをインラインで表示させる
%matplotlib inline

# Pandasでの表示が省略されないように設定
pd.set_option("max_columns", 100)
pd.set_option('max_rows',100)
pd.set_option('max_info_columns',100)

In [5]:

dist = pd.read_csv('distance.csv')

In [7]:
mindis = pd.merge(dist, minutes)

In [8]:
mindis.head()

,Unnamed: 0,hokkaido,tokyo,nagoya,osaka,fukuoka,name,bus,time
0,0,848.417878,18.709829,296.107278,458.442319,1038.203291,名古屋市瑞穂陸上競技場,0,11
1,1,867.281017,26.238256,301.549952,462.307660,1042.143368,豊田スタジアム,0,19
2,2,1405.989903,795.894494,483.234115,319.570527,265.115018,フクダ電子アリーナ,0,14
3,3,1606.822772,1052.806769,738.415252,575.779843,5.207566,日立柏サッカー場,0,4
4,4,537.268399,304.004116,521.530505,675.501435,1225.855143,ニンジニアスタジアム,0,13